recursive-exclude docs *
recursive-include pocketlab/commands *.py
recursive-include pocketlab/models *
recursive-include pocketlab/methods *.py
prune */__pycache__
include *.rst
include *.txt
include *.md